/*
Agregando estilos:

1) Posicionamiento -------------> static, absolute, relative, fixed
2) Modelo de caja (Box model) --> margin, border, padding, content
3) Tipografía ------------------> tipos, tamaños de fuente, etc
4) Estilos visuales ------------> box-shadow, border-radius, gradient, etc
5) Otros -----------------------> reglas CSS y más
*/

:root {
  /*Colores*/
  --orange: #FF9536;
  --soft-orange: #FFE9D5;
  --blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --black: #201E1C;
  --warm-black: #282623;
  --gray: #BABABA;
  --off-white: #FAF8F7;
  --white:  #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*Fuentes*/
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 32rem;
  height: 33.4rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  margin-top: 6rem;
  width: 20rem;
  height: 8rem;
}

.header--title--container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
  text-align: center;
}

.header--title--container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}

.header--title--container p {
  margin: 2.5rem 0 4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
  color: var(--soft-orange);
}

.header--title--container .header--button {
  position: absolute;
  top: 31rem;
  left: calc(50% - 12.5rem);
  display: block;
  width: 25rem;
  height: 4.8rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background: var(--off-white);
  box-shadow: 0px 4px 8px var(--gray);
}

.header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  background-image: url('assest/icons/black_arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-image: url('assest/img/Bitcoin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 28.8rem;
  max-width: 33rem;
  margin: 0 auto;
  text-align: center;
}

.main-exchange-container--title h2{
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container--title p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-tables-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.main-currency-table {
  width: 100%;
  min-width: 23rem;
  max-width: 50rem;
  height: auto;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--orange);
}

.secondary-table--title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--blue);
}

.secondary-table--container,
.currency-table--container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 20rem;
  margin: 0 auto;
}

.secondary-table--container table,
.currency-table--container table{
  width: 100%;
  height: 100%;
}

.secondary-table--container td,
.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--white);
}

.secondary-table--container .table__top-left,
.currency-table--container .table__top-left {
  border-radius: 1.5rem 0 0 0;
}

.secondary-table--container .table__top-right,
.currency-table--container .table__top-right {
  border-radius: 0 1.5rem 0 0;
}

.secondary-table--container .table__bottom-left,
.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 1.5rem;
}

.secondary-table--container .table__bottom-right,
.currency-table--container .table__bottom-right{
  border-radius: 0 0 1.5rem 0;
}

.secondary-table--container .table__right,
.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table--container .table__right .down {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  background-image: url("assest/icons/red_arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .table__right .up {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  background-image: url("assest/icons/green_arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date p {
  margin: 2rem auto;
  width: 17.3rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: var(--soft-orange);
}

.secondary-table--date p {
  margin: 2rem auto;
  width: 17.3rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: var(--soft-blue);
}

.main-card-container {
  width: 100%;
  min-width: 32rem;
  height: auto;
  padding: 4rem 0;
  position: relative;
  background-color: var(--black);
}

.main-card-container .imgPotato {
  width: 4rem;
  height: 2.4rem;
  position: absolute;
  top: -1rem;
  left: calc(50% - 2rem);
  background-image: url('assest/icons/potato.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-card-container .card-container--tittle {
  width: 90%;
  min-width: 26rem;
  max-width: 28rem;
  height: auto;
  margin: 0 auto 3rem;
  text-align: center;
  color: var(--white);
}

.main-card-container .card-container--tittle h2 {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2.6rem;
  text-align: center;
}

.main-card-container .card-container--tittle p{
  margin-top: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: center;
  color: #808080;
}

.main-card-container .main-card {
  width: 90%;
  min-width: 29rem;
  max-width: 34rem;
  margin: 1.6rem auto;
  min-height: 15rem;
  padding: 1.8rem;
  border-radius: 0.5rem;
  background-color: var(--warm-black);
}

.main-card .main-card--tittle{
  margin-top: 1.4rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  font-style: normal;
  color: var(--white);
}

.main-card .main-card--content {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 32rem;
  height: 51rem;
  background-image: url('assest/img/bitcoinbaby.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 6rem;
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--white);
}

.main-plans-container {
  padding: 6.4rem 0;
  background-color: var(--off-white);
}

.plans-container--slider {
  width: 80%;
  height: auto;
  margin: 5rem auto;
  display: flex;
  height: 30rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}

.plans-container--slider::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  min-width: 19rem;
  max-width: 24rem;
  margin: 2rem 1rem;
  height: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem var(--gray);
  background-color: var(--white);
  text-align: center;
}

.plans-container--card .recommended {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 5rem);
  width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Inter' sans-serif;
  line-height: 1.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: white;
  background-color: var(--orange);
}

.card-info h3 {
  padding-top: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  font-family: 'DM Sans';
}

.card-price-container {
  position: relative;
  margin: 0 auto;
  width: 7rem;
}

.card-info .card-price {
  padding: 0.5rem 0;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 5.3rem;
  font-family: 'Inter', sans-serif;
}

.card-info .card-price span {
  position: absolute;
  top: -1rem;
  left: -1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.class-description {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  line-height: 1.4rem;
  color: #757575;
}

.card-info button {
  position: relative;
  width: 15rem;
  height: 4.8rem;
  margin: 1rem auto 0;
  padding-right: 3rem;
  border-radius: 0.4rem;
  border: solid 2px var(--orange);
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'DM Sans' , sans-serif;
  line-height: 1.8rem;
  background-color: var(--off-white);
}

.card-info button span {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('assest/icons/orange-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}